@page "/calculate"

<h1>Hello, calculate!</h1>

Welcome to your new calculate.

<form id="postRedis">
    <div class="form-group">
      <h3 class="mb-3">Add a platform</h3>
      <input
        type="text"
        placeholder="ip"
        id="postIp"
        class="form-control" />
      <input
        type="number"
        placeholder="port"
        id="postPort"
        class="form-control" />
    </div>
</form>